
h1 {
  font-size: 60px;
  margin: 25px;
}
h2 {
  font-size: 30px;
  margin: 25px;
}
h3 {
  font-size: 15px;
  margin: 25px;
}

/* two column layout*/
.containerThis {
  position: relative;
  text-align: center;
  color: black;
  font-family: sans-serif;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layoutImage {
  width: 100%;
  height: 100%;
}

.containerFourImage {
  display: flex;
  height: 100%;
  /* margin-left: 190px; */
  margin-top: -300px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.imgbox {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px;
}

.imgbox img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
}

.imgbox .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgba(44, 44, 44, 0.6);
  color: #ffffff;
  opacity: 0;
  display: flex;
  font-size: 13px;
  transition: transform 0.5s ease;
}

.mask summary {
  margin: auto;
  font-family: sans-serif;
  font-size: 20px;
}

.imgbox a:hover .mask {
  opacity: 0.8;
}

.imgbox:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}



/* contact page*/
.contactText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: left;
  width: 600px;
  background-color: rgb(243, 240, 240, 0.3);
}
.contactText form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.contactText label {
  font-size: 30px;
  margin-bottom: 5px;
}
.centerElement {
  display: flex;
  justify-content: center;
  size: 100;
}
input,
textarea {
  border: none;
  padding: 12px 15px;
  margin: 0px 0px 30px 0px !important;
}
input, textarea
 :focus{
  outline: none;
}
/* registration page*/
.registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: left;
  width: 700px;
  background-color: rgb(243, 240, 240, 0.3);
}
.registration-container {
  max-width: 700px;
  margin-top: 20px;
  display: flex;
}
.registration-block {
  max-width: 300px;
  display: block;
  width: 100%;
  margin-left: 50px;
  flex-direction: column;
}
.registration-block input{
  background: rgba(238, 238, 238, 0.918);
  border: none;
  margin-top: 20px;
  resize: none;
  display: flex;
  flex-direction: column;
  padding: 12px 15px; /* change here*/
  width: 225px;
}
.radioContainer{
  max-width: 700px;
  display: flex;
}

.radio-block{
  max-width: 300px;
  display: block;
  width: 100%;
  flex-direction: column;
  margin-left: 50px;
}
#ageLabel {
  font-family: sans-serif;
  font-size: 20px;
}
#Age{
  margin: 0 ;
}

/* meal planner*/
.caloriesCalculator {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: left;
  width: 700px;
  background-color: rgb(243, 240, 240, 0.3);
}
.caloriesCalculator form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.caloriesCalculator label {
  font-size: 30px;
  margin-bottom: 5px;
}
#Calories,
#Meals{
  margin-bottom: 5px;
}

.mealPlanContainer{
  max-width: 700px;
  display: flex;
}

.mealPlan-block{
  max-width: 300px;
  display: block;
  width: 100%;
  flex-direction: column;
  margin-left: 50px;
}
.mealPlan-block label{
  font-size: 15px;
}
/* show meal */
.meal {
  position: absolute;
  top: 41%;
  left: 52%;
  transform: translate(-50%, -50%);
  height: 540px;
}
/* .mealContainer{
  display: flex;
} */

.meal-block{
  max-width: 400px;
  display: block;
  width: 100%;
  flex-direction: column;
  margin: 25px;
}
