*{
    margin: 0;
    padding: 0;
}
 
li{list-style:none}
 
a{text-decoration: none}
 
/* 背景颜色 */

 
/* 头部样式设置 */
.header{
    width: 100%;
    height: 60px;
    background-color: #f0dc70;
}
 
.header .header-wrap{
    width: 90%;
    /* border: 1px solid rebeccapurple; */
    /* 盒子居中 */
    margin: 0px auto;
    /* 盒子内容居中 */
    text-align: center;
    /* 使垂直居中 */
    height: 100%;
    line-height: 60px;
}
 


 
.header .header-wrap .header-nav-left{
    float: left;
    /* border: 1px solid skyblue; */
    margin-left: 20px;
    width: 30%;
}
 
.header .header-wrap .header-nav-left ul{
    display: flex;
    flex-direction: row;           
    justify-content: space-around; 
}
.header .header-wrap .header-nav-left li a{
    color: #000000;
}
 



 

 

.main{
    width: 75%;
	
	
    margin: 15px auto; 
    /* border: 1px solid royalblue; */
}
.main:after {
    content: "";
    display: block;
    clear: both;
  }
  .clear:after{
    content: "";
    display: block;
    clear: both;
  }
.main-left{
    float: left;
    width: 25%;
    background-color: white;
}
.main-left ul li{
    border-top: 1px solid #84bf96;
    border-left: 1px solid #84bf96;
    border-right: 1px solid #84bf96;
    height: 45px;
    line-height: 48px;
    padding-left: 15px;
}
.main-left ul li:last-child{
    border-bottom:1px solid #84bf96;
}
.main-left ul li a{
    color: #595959;
}
.main-left ul .main-border{
    border-left:3px solid #25b864;
    font-weight: 800;
    color: #262626;
	font: bold;
}

.main-left ul .main-border{
    border-left:3px solid #25b864;
    font-weight: 700;
    color: #262626;
}
.main-right{
	font-size: 15px; 
	overflow: scroll;
    float: right;
    margin-right: 3%;
    width: 70%;
	height:900px;
    background-color: white;
    border: 1px solid #84bf96;
    color: #595959;
} 
.main-right .title{
    height: 50px;
    border-bottom:1px solid #e8e8e8;
    line-height: 55px;
}
.main-right .title h6{
    /* color: #595959; */
    margin-left: 15px;
    font-size: 20px;
    font-weight: normal;
}


#form1{
	font-size: 15px; 
	 height: 50%;
  width:90%;
	margin-left: 40px;
	margin-top: 8px;
}

#form2{
	 height: 50%;
  width:90%;
	margin-left: 40px;
	margin-top: 8px;
	font-size: 15px; 
}



/* CSS Document */
button {
	  
	margin-top: 10px;
    margin-left: 20%;
  border-radius: 50px;
  border: 1px solid #4A4AFF;
  background: #4A4AFF;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}




table{
	font-size: 15px; 
 margin-top: 20px;
    margin-left: 40px;
  color: #131313;
  position: relative;
  text-align: left;
  height: 50%;
  width:90%;}
#pagination{
	
  margin-left: 150px;
  margin-top: 20px;
 
  
 
}
